/* Fonts  */

/* Adding Abhaya libre font  starts*/
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-bold-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-bold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-extrabold-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-extrabold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-medium-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-medium-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-regular-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Abhaya libre';
    src: url(../fonts/AbhayaLibre/abhayalibre-regular-webfont.woff2) format('woff2');
}
/* Adding Abhaya libre font  ends */

/* Adding Rollgates font  starts */
@font-face {
    font-family: 'Rollgates';
    src: url(../fonts/Rollgates/rollgates_luxury-webfont.woff) format('woff');
}
@font-face {
    font-family: 'Rollgates';
    src: url(../fonts/Rollgates/rollgates_luxury-webfont.woff2) format('woff2');
}
/* Adding Rollgates font  ends  */
/* Fonts */

/* header styles starts */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e8e1d6;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    z-index: 99;
}
header.scrolled {
    background-color: rgb(255, 255, 255, 0.08) !important;
    opacity: 1;
    backdrop-filter: blur(52px);
}
.hamburger {
    background-color: #e8e1d6;
}
#close-hamburger,
#hamburger-menu {
    display: none;
}
#open-hamburger {
    display: block;
}
#close-hamburger-submenu,
#hamburger-submenu {
    display: none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
}
ul li ul.dropdown li {
    display: block;
    padding: 5px 10px;
}
ul li ul.dropdown {
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 80px;
    background-color: #faf6f09e;
    backdrop-filter: blur(52px);
    z-index: 2;
    font-family: "Abhaya libre";
    display: none;
}
ul li a:hover {
    border: #e8e1d6;
}
ul li:hover ul.dropdown {
    display: block;

}
/* header styles ends */

/* Footer styles starts */
.footer {
    min-height: 250px;
}
.footer-contact-us {
    font-size: 30px;
}
@media screen and (max-width: 431px) {
    .footer-contact-us {
        font-size: 25px;
    }
}
/* Footer styles ends */


/* body styles starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Abhaya libre';
    font-weight: bold;
}
.img-container {
    background-image: url("https://noveloffice.in/wp-content/uploads/2024/04/coustomizedofficebg-ezgif-scaled.webp");
    background-size: cover;
}

/*********** Home page styles **********/

/* banner styles statrts */
.banner-heading {
    font-family: 'Rollgates';
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;
}
.banner-para {
    font-family: "Abhaya libre";
    font-size: 25px;
    font-weight: 500;
    color: #5b4f40cc;
}
@media only screen and (max-width: 704px) {
    .banner-heading {
        font-size: 50px;
    }
}
@media only screen and (max-width: 568px) {
    .banner-heading {
        font-size: 40px;
    }
}
@media only screen and (max-width: 470px) {
    .banner-heading {
        font-size: 30px;
    }
    .banner-para{
        font-size: 20px;
    }
}
@media only screen and (max-width: 373px) {
    .banner-heading {
        font-size: 25px;
    }
    .banner-para{
        font-size: 16px;
    }
}
.home-search-bar::placeholder {
    color: #c3ac91;
}
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-up.in-upview {
    opacity: 1;
    transform: translateY(0);
}
.fade-down {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-down.in-downview {
    opacity: 1;
    transform: translateY(0);
}
/* banner styles ends */

/* Timeless section styles starts */
.timeless-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000;
}
.timeless-para{
    font-family: 'Abhaya libre';
    font-size: 25px;
    font-weight: 500;
}
@media only screen and (max-width:937px){
    .timeless-heading{
        font-size: 40px;
    }
    .timeless-para{
        font-size: 20px;
    }
}
@media only screen and (max-width: 765px) {
    .timeless-heading {
        font-size: 30px;
    }
    .timeless-para{
        font-size: 16px;
    }
}
@media only screen and (max-width: 594px) {
    .timeless-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .timeless-heading { 
        font-size: 20px;
    }
    .timeless-para{
        font-size: 14px;
    }
}
/* Timeless section styles ends */

/* Quality section styles starts */
.quality-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
    border-bottom: 1px solid #5b4f40cc;
}
.quality-card{
    /* border-radius: 30px; */
    border-right: 1px solid #5b4f40cc;
    border-bottom: none;
}

@media only screen and (max-width: 1023px) {
    .quality-card{
        /* border-radius: 30px; */
        border-right: none;
        border-bottom: 1px solid #5b4f40cc;
    }
    
}
.qulity-card-heading{
    font-size: 'Abhaya libre';
    font-size: 16px;
    font-weight: 500;

}
.qulity-card-para{
    font-size: 'Abhaya libre';
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}
@media only screen and (max-width: 1023px) {
    .qulity-card-heading{
        font-size: 18px;
    }
    .qulity-card-para{
        font-size: 14px;
    }
}
@media only screen and (max-width:937px){
    .quality-heading{
        font-size: 40px;
    }
}
@media only screen and (max-width: 765px) {
    .quality-heading {
        font-size: 30px;
    }
}
@media only screen and (max-width: 594px) {
    .quality-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .quality-heading { 
        font-size: 20px;
    }
}
/* Quality section styles ends */

/* Feature listing section starts  */
.feature-listing-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}
.swiper-button-prev, .swiper-button-next{
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    padding: 10px !important;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 10px !important;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background-color: #fff !important;
}
.swiper .swiper-pagination{
    bottom: 30px !important;
}


@media only screen and (max-width:937px){
    .feature-listing-heading{
        font-size: 40px;
    }
}
@media only screen and (max-width: 765px) {
    .feature-listing-heading {
        font-size: 30px;
    }
}
@media only screen and (max-width: 594px) {
    .feature-listing-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .feature-listing-heading { 
        font-size: 20px;
    }
}
/* Feature listing section ends  */

/* signature homes near you section starts */

.signature-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
    border-bottom: 1px solid #0a0907;
}
@media only screen and (max-width:937px){
    .signature-heading{
        font-size: 40px;
    }
}
@media only screen and (max-width: 765px) {
    .signature-heading {
        font-size: 30px;
    }
}
@media only screen and (max-width: 594px) {
    .signature-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .signature-heading { 
        font-size: 20px;
    }
}
/* signature homes near you section ends */

/* Take a virtual tour section starts */
.virtual-tour-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0a0907;
    border-bottom: 1px solid #0a0907;
}
.virtual-tour-para{
    font-family: 'Abhaya libre';
    font-size: 25px;
    font-weight: 500;
    color: #0a0907;
}
@media only screen and (max-width:937px){
    .virtual-tour-heading{
        font-size: 40px;
    }
    .virtual-tour-para{
        font-size: 20px;
    }
}
@media only screen and (max-width: 765px) {
    .virtual-tour-heading {
        font-size: 30px;
    }
    .virtual-tour-para{
        font-size: 16px;
    }
}
@media only screen and (max-width: 594px) {
    .virtual-tour-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .virtual-tour-heading { 
        font-size: 20px;
    }
    .virtual-tour-para{
        font-size: 14px;
    }
}
/* Take a virtual tour section ends */

/* walkthrough properties section starts */
.Walkthrough-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.Walkthrough-para{
    font-family: 'Abhaya libre';
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.Walkthrough-video{
    width: 100%;
}
@media only screen and (max-width:767px){
    .Walkthrough-video{
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .Walkthrough-video { 
        width:100% !important;
    }  
} 
@media only screen and (max-width:937px){
    .Walkthrough-heading{
        font-size: 40px;
    }
    .Walkthrough-para{
        font-size: 20px;
    }
}
@media only screen and (max-width: 765px) {
    .Walkthrough-heading {
        font-size: 30px;
    }
    .Walkthrough-para{
        font-size: 16px;
    }
}
@media only screen and (max-width: 594px) {
    .Walkthrough-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .Walkthrough-heading { 
        font-size: 20px;
    }
    .Walkthrough-para{
        font-size: 14px;
    }
}
/* walkthrough properties section ends */

/* luxury homes section starts */

/* luxury homes section ends */

/* testimonials section starts */
.testimonial-heading{
    font-family: 'Rollgates';    
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
    border-bottom: 1px solid #0a0907;
}
.testimonial-card-heading{
    font-family: "Abhaya Libre";
    font-size: 24px;
    font-weight: 600;
    color: #0a0907;
}
.testimonial-card-subheading{
    font-family: "Abhaya Libre";
    font-size: 20px;
    font-weight: 500;
    color: #5b4f40cc;
}
.testimonial-card-description{
    font-family: "Abhaya Libre";
    font-size: 20px;
    font-weight: 500;
    color: #0a0907;
}
@media only screen and (max-width:1148px){
    .testimonial-heading{
        font-size: 40px;
    }
}
@media only screen and (max-width: 1040px) {
    .testimonial-heading {
        font-size: 35px;
    }
}
@media only screen and (max-width: 843px) {
    .testimonial-heading { 
        font-size: 32px;
    }
}
@media only screen and (max-width: 508px) {
    .testimonial-heading { 
        font-size: 30px;
    }
}
.fade-right {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-right.in-rightview {
    opacity: 1;
    transform: translateX(0);
}
/* testimonials section ends */

/*  contact us starts*/
.contact-us{
    border-right: 1px solid #5b4f4026;
    border-bottom: none;
}
@media only screen and (max-width: 1023px) {
    .contact-us {
        border-right: none;
        border-bottom: 1px solid #5b4f4026;
    }
}
.contact-us-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
}
.contact-us-para{
    font-family: 'Abhaya libre';
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.contact-us-list{
    font-family: 'Abhaya libre';
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
@media only screen and (max-width:937px){
    .contact-us-heading{
        font-size: 40px;
    }
    .contact-us-para, .contact-us-list{
        font-size: 20px;
    }
}
.list-disc li::marker {
    color: #5b4f40; /* Set the bullet color */
}
@media only screen and (max-width: 765px) {
    .contact-us-heading {
        font-size: 30px;
    }
    .contact-us-para, .contact-us-list{
        font-size: 16px;
    }
}
@media only screen and (max-width: 594px) {
    .contact-us-heading { 
        font-size: 25px;
    }
}
@media only screen and (max-width: 508px) {
    .contact-us-heading { 
        font-size: 20px;
    }
    .contact-us-para, .contact-us-list{
        font-size: 14px;
    }
}
/* contact us ends */

/********** About us page starts ***********/
/* Head section starts */
.head-section-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

/* Head section ends */

/* about novel section starts */
.about-novel-para{
    font-family: 'Abhaya libre';
    font-size: 20px;
    font-weight: 500;
    color: #0a0907;
    /* letter-spacing: 1px; */
}
.about-novel-secondpara{
    font-family: 'Abhaya libre';
    font-size: 20px;
    color: #0a0907;
    /* letter-spacing: 1px; */
}

/* about novel section ends */

/* meet our team section starts */
.meet-our-team-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
    border-bottom: 1px solid #fff;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.scale-up {
    animation: scaleUp 1s ease-in-out;
}

/* meet our team section ends */
/**********`About us page ends  **********/


/**********`Contact us page starts  **********/

/* Contact us banner section starts */
.contact-us-banner{
    background-image: url(../images/cantact-us-bannerimg.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh
}

/* Contact us banner section ends */

/* Contact us details section starts */
.contact-us-para{
    font-family: 'Abhaya libre';
    font-size: 20px;
    color: #FFf;
    /* letter-spacing: 1px; */
}

.get-in-touch-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
}

.get-in-touch-input::placeholder {
    color: #bbbbbb;
}
@media only screen and (max-width: 767px) {
    .get-in-touch-heading{
        font-size: 40px;
    }
}

/* Contact us details section ends */

/**********`Contact us page ends  **********/

/************** Blog page styles starts  ************/
.blog-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #0a0907;
}
.blog-para{
    font-family: 'Abhaya libre';
    font-size: 20px;
    color: #0a0907;
    /* letter-spacing: 1px; */
}

/* blog carousel section starts */
.blog-carousel{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.blog-carousel-slide{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;
   flex-wrap: nowrap;
   animation: blog-slide 40s infinite linear;
}

.blog-carousel-slide img{
    height: auto;
    transition: filter 0.3s ease;
}

.blog-carousel-slide img:hover{
    filter: grayscale(100%);
}

@keyframes blog-slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
/* blog carousel section ends */

/* Recently added section starts */
.recently-added-heading{
    font-family: 'Rollgates';    
    font-size: 25px;
    /* letter-spacing: 1px; */
    color: #0a0907;
}
.recently-added-card-heading{
    font-family: 'Rollgates';    
    font-size: 20px;
    /* letter-spacing: 1px; */
    color: #0a0907;
}
.bloghr{
    border: none;
    border-top: 1px solid #24333a40;
    width: 30%;
}
/* Recently added section ends */

/* browse through categories section starts */
.browse-through-heading{
    font-family: 'Rollgates';    
    font-size: 25px;
    /* letter-spacing: 1px; */
    color: #fff;
}
.browse-through-card-heading{
    font-family: 'Abhaya libre';
    font-size: 20px;
}
.browse-through-card-para{
    font-family: 'Abhaya libre';
    font-size: 16px;
}

/* browse through categories section ends */
/************** Blog page styles ends  ************/

/************ gallery page styles starts **********/
.gallery-overlay{
    background-color: #ddb07154;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.gallery-heading{
    font-family: 'Rollgates';    
    font-size: 65px;
    /* font-weight: 500; */
    letter-spacing: 4px;
    color: #fff;
}
@media only screen and (max-width: 500px) {
    .gallery-heading{
        font-size: 50px;
    }
}
@media only screen and (max-width: 350px) {
    .gallery-heading{
        font-size: 40px;
    }
}

.tab-para{
    color: #c1ac93;
    font-family: 'Abhaya libre';
    font-size: 25px;
    cursor: pointer;
}
.tab-btn.active .tab-para {
    color: #c28a46; /* Active tab button color */
    border-bottom: 1px solid #c28a46;
}
/* #tab-dropdown:focus option {
    background-color: white; 
    color: black; 
}

#tab-dropdown:focus option:checked,
#tab-dropdown:focus option:hover {
    background-color: #c28a46 !important;
    color: white !important; 
} */

#tab1 {
    display: grid;
}
#tab2, #tab3, #tab4, #tab5 {
    display: none;
}
/************ gallery page styles ends  ***********/

/************ Active listing page styles starts ************/
.activity-list-heading{
    font-family: 'Rollgates';    
    font-size: 25px;
    letter-spacing: 1px;
    color: #0a0907;
}

.active-listing-card-heading{
    font-family: 'abhaya libre';
    font-size: 18px;
    color: #0a0907;
    /* letter-spacing: 1px; */
}
.active-listing-card-para{
    font-family: 'abhaya libre';
    font-size: 12px;
    color: #0a0907;
    /* letter-spacing: 1px; */
}
.active-listing-grid{
    display: grid;
}
.filters{
    font-family: 'abhaya libre';
    font-size: 16px;
    color: #fff;
    /* letter-spacing: 1px; */
}
#type-dropdown{
    display: none;
}
#type-filter:hover #type-dropdown{
    display: block;
}
#price-dropdown{
    display: none;
    left: 0;
}
#price-filter:hover #price-dropdown{
    display: block;
}
#beds-dropdown{
    display: none;
}
#beds-filter:hover #beds-dropdown{
    display: block;
}
#baths-dropdown{
    display: none;
}
#baths-filter:hover #baths-dropdown{
    display: block;
}
#area-dropdown{
    display: none;
}
#area-filter:hover #area-dropdown{
    display: block;
}
#more-dropdown{
    display: none;
    right: 10px;
    /* top: 80px; */
    width: 400px;
}
#more-filters:hover #more-dropdown{
    display: block;
}
@media only screen and (max-width:767px){
    #more-dropdown{
        top: 150px;
        left: 0;
    }
}
@media only screen and (max-width:430px){
    #more-dropdown{
        width: 250px;
        top: 150px;
        left:-10px
    }
}
@media only screen and (max-width: 500px) {
    .active-listing-grid{
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
    #price-dropdown{
        left: -100%;
    }
}

@media only screen and (max-width: 1023px) and (min-width:768px) {
    .filters{
        font-size: 15px;
    }
}
@media only screen and (max-width:420px){
    #type-dropdown{
        left: -100%;
        top: 200%;
    }
    #price-dropdown{
        left: -200%;
        top: 200%;
    }
}
@media only screen and (max-width:380px){
    #type-dropdown{
        left: -200%;
        top: 200%;
    }
    #price-dropdown{
        left: -350%;
        top: 200%;
    }
}
@media only screen and (max-width:345px){
    #type-dropdown{
        left: -300%;
        top: 200%;
    }
    #price-dropdown{
        left: -400%;
        top: 200%;
    }
}
@media only screen and (max-width:325px){
    #type-dropdown{
        left: -400%;    
        top: 200%;
    }
    #price-dropdown{    
        left: -500%;
        top: 200%;    
    }
}
@media only screen and (max-width: 384px) 
{
    .filters{
        font-size: 14px;
    }
}
/*********** Active listing page styles ends ************/

/************ Upcomming homes page starts  ************/
.upcoming-homes-heading{
    font-family: 'Rollgates';    
    font-size: 50px;
    letter-spacing: 2px;
    color: #0a0907;
}
.upcoming-homes-para{
    font-family: 'abhaya libre';
    font-size: 18px;
    color: #0a0907;
    /* letter-spacing: 1px; */
}
.future-homes-card-para{
    font-family: 'abhaya libre';
    font-size: 15px;
    color: #fff;
    /* letter-spacing: 1px; */
}
@media only screen and (max-width: 442px) {
    .upcoming-homes-heading{    
        font-size: 40px;
    }
    .upcoming-homes-para{
        font-size: 15px;
    }
}
/************** Upcomming homes page ends  *************/

/************** Sold properties page starts   ************/
.sold-properties-heading{
    font-family: 'Rollgates';
    font-size: 50px;
    /* letter-spacing: 2px; */
    color: #fff;
}
.sold-properties-para{
    font-family: 'abhaya libre';
    font-size: 18px;
    color: #fff;
    /* letter-spacing: 1px; */
}
.dallas, .houston, .Austin .sanantonio{
    display: block;
}
@media only screen and (max-width: 500px) and (min-width:410px) {
    .sold-properties-heading{
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width:409px) {
    .sold-properties-heading{
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
    }
}
/************** Sold properties page ends   ************ */

/************** Portfolio page styles starts  *************/
.qualities-heading{
    font-family: 'rolgates';
    font-size: 30px;
    letter-spacing: 1px;
    color: #0a0907;
}
.qualities-para{
    font-family: 'abhaya libre';
    font-size: 18px;
    color: #0a0907;
}

/************** Portfolio page styles ends  *************/
/* body styles ends */